* {
  box-sizing: border-box;
}

html {
  background: white;
  color: black;
}
  
body {
  font-family: 'Playfair Display', serif;
  margin: 0px;
}

/* Headings and text */

h1 {
  color: #ff4942;
  margin: 15px 0px;
  font-size: 42px;
}

h2 {
  font-size: 32px;
  margin: 0px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

p {
  color: black;
  line-height: 180%;
  font-size: 18px;
  width: 85%;
  padding: 0px 0px 20px 50px;
  margin: 0px;
}

/* Lists */

ul {
  padding-bottom: 20px;
}

li {
  list-style-type: circle;
  color: black;
  width: fit-content;
  margin: 10px;
}

/* Links */

a {
  text-decoration: none;
  font-weight: bold;
  color:white;
  font-size: 20px;
}

a:hover {
  text-decoration: underline;
}

.red-link:hover {
  background:#E3D8CC;
  color: #ff4942;
  text-decoration: underline;
  padding: 15px 0px;
  border-radius: 25px;
}
  
.project-link:hover {
  opacity: 0.6;
  transition: 0.3s;
}

/* Header */

header {
  background:#E3D8CC;
  color: #ff4942;
  padding: 100px 0px;
}

.heading-small {
  padding-left: 50px;
  font-size: 24px;
  margin: 0px;
}

.heading-name-container {
  display: flex;
  flex-wrap: wrap;
}

.firstname {
  display: flex;
  justify-content: flex-start;
  font-size: 84px;
  padding-left: 50px;
  width: 50%;
  margin: 0px;
}

.lastname {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  font-size: 84px;
  padding-left: 100px;
  width: 50%;
  padding-right: 50px;
  margin: 0px; 
}

/* Intro */

.intro {
  display: flex;
}

.color-block {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff4942;
  width: 50%;
}

.image-of-me {
  width: 75%;
  border-radius: 50%;
}

.text-block {
  background: white;
  color: black; 
  width: 50%;
  margin: 0px;
  padding: 60px 0px 60px 60px;
}

.intro-text {
  color: black;
  padding: 0px;
}

.list-heading {
  color: black;
  font-size: 24px;
  margin-top: 60px;
}

.red-link {
  color: #ff4942;
}

.project-link:hover {
  background: none;
}

span {
  font-weight: bold;
  font-size: 24px;
}

/* Skills */

.skill-section {
  background: #E3D8CC;
  display: flex;
  justify-content: center;
  padding: 40px 150px;
}

.skill-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.skill {
  list-style-type: none;
  width: fit-content;
  margin: 8px;
}

/* Projects */

.project-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background:#ff4942;
  width: 100%;
  margin: 0px;
}

.section-heading {
  color: white;
  padding: 40px 0px;
}

.project-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  width: 45%;
  margin: 20px;
  background: white;
}

.project-screenshot {
  width: 100%;
  padding: 20px 60px;
}

.project-heading {
  padding: 0px 60px;
  color: black;
  margin: 0px;
}

.project-text {
  color:black; 
  padding: 20px 60px;
  width: 100%;
}

.tech-container {
  display: flex;
  flex-wrap: wrap;
}

.tech {
  list-style-type: none;
  color: black;
  background:  #E3D8CC;;
  border-radius: 5px;
  font-weight: 900;
  padding: 10px 30px;
  margin: 10px;
}

.mini-project-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
  margin: 10px;
  width: 100%;
}

.thumbnail-image {
  width: 20%;
  align-items: flex-start;
}

.white-link {
  color: white;
  margin: 80px 0px;
}

/* Background */

.background-section {
  display: flex;
}

.faq-block {
  background:#E3D8CC;
  width: 50%;
  padding: 60px 0px;
}

.faq-heading, .answer {
  padding-left: 60px;
}

.clients-small-heading {
  margin-bottom: 15px;
  padding-top: 10px;
}

.clients-text {
  color: black;
  padding: 0px;
}

.lecturing {
  padding: 0px 0px 10px 0px;
  margin-bottom: 15px;
}

/* Footer */

footer {
  background: #ff4942;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 100px 0px;
}

.contact-details {
  color: white;
  list-style-type: none;
  font-size: 24px;
  line-height: 180%;
}

/* Ipad/Mobil */

@media (max-width: 831px)  {

/* Header */

  header {
    width: 100%;
    padding: 50px 0px;
  }

  .heading-small {
    margin-bottom: 0px;
  }

  .heading-name-container {
    flex-direction: column;
  }

  .firstname, .lastname {
    width: 100%;
  }
  
/* Intro */
  .intro {
    flex-direction: column;
  }

  .color-block {
    width: 100%;
    padding: 20px 0px;
  }

  .image-of-me {
    width: 50%;
  }

  h1 {
    margin-top: 0px;
  }

  .text-block {
    width: 95%;
    margin: 0px;
    padding: 60px 0px 60px 60px;
  }

  .intro-text {
    width: 90%;
    font-size: 20px;
  }

  ul {
    padding: 0px 0px 20px 20px;
  }

  li {
    margin: 10px 0px;
    font-size: 18px;
  }

  /* Skills */

  .skill-section {
    padding: 20px;
  }

  /* Projects */
  .project-section {
    padding-bottom: 60px;
    width: 100%;
  }

  .section-heading {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    font-size: 48px;
  }

  .project-heading {
    font-size: 28px;
    padding: 0px 40px;
  }

  .project {
    width: 100%;
    margin: 20px;
  } 

  .project-screenshot {
    width: 100%;
    padding: 40px;
  }

  .project-text {
    font-size: 20px;
    padding: 20px 40px;
    width: 100%;
  }

  .white-link {
    margin: 20px;
  }

  .tech {
    padding-bottom: 20px;
  }

  .mini-container {
    justify-content: space-evenly;
    padding: 0px;
  }

  .thumbnail-image {
    width: 45%;
    margin: 10px;
  }

  /* Background */

  .background-section {
    display: flex;
    flex-direction: column;
  }

  .faq-block {
    width: 100%;
  }

  .faq-heading, .answer {
    padding: 0px 60px;
  }

  .answer {
    width: 90%;
  }

  .clients-container {
    width: 100%;
    padding: 40px;
  }

  .clients-text {
    margin: 0px;
    width: 90%;
  }

  .lecturing {
    padding: 20px 0px 10px 0px;
    margin-bottom: 15px;
  }

  /* Footer */

  footer {
    padding: 100px 0px;
    }
}

  /* Mobil */

  @media (max-width: 510px)  {

    /* Header */
  
    header {
      width: 100%;
      padding: 20px 0px;
    }
  
    .heading-name-container {
      display: none;
    }
  
    .heading-small {
      display: flex;
      justify-content: center;
      font-size: 72px;
      margin: 0px;
      padding: 0px;
    }
  
    h1 {
      margin-bottom: 20px;
    }

    .list-heading {
      margin-top: 40px;
    }
  
    .text-block {
      padding: 20px 0px 40px 40px;
    }
  
    .skill-section {
      flex-direction: column;
      margin: 0px;
    }
  
    h3 {
      margin: 0px;
      padding-bottom: 15px;
    }
  
    .skill-list {
      padding: 20px;
      margin: 0px;
    }
  
    .skill {
      margin: 4px;
    }
  
    .section-heading {
      font-size: 64px;
      padding: 30px 50px;
    }
  
    .tech-container {
      padding: 0px 0px 0px 20px;
    }
  
    .tech {
      margin: 5px;
      padding: 10px;
      font-size: 16px;
    }
  
    .mini-project-container {
      width: 100%;
    }
  
    .thumbnail-image {
      display: none;
    }

    .faq-block {
      padding: 60px 40px;
    }

    .faq-heading, .answer {
      width: 100%;
      padding: 0px;
    }

    .clients-heading {
      padding-top: 20px;
    }
  
    .clients-small-heading {
      margin-top: 5px; 
    }

    .clients-text {
      padding-bottom: 0px;
    }

  }
